@media (max-width: 786px) {

    .head {
        height: 114px;
        padding: 31px 16px 31px 16px;

        &__img {
            height: 52px;
            width: 80px;
        }

        &__block__list{
            li{
                font-size: 14px;

                padding: 0 35px;
            }
        }
    }
}

@media (max-width: 425px) {

    .head{
        &__block{
            justify-content: space-between;
        }

        &__block__list{
            display: none;
        }

        &__burger_button {
            display: block;
            width: 37px;
            height: 52px;
            position: relative;

            span,
            span:before,
            span:after {
                position: absolute;
                top: 48%;
                width: 37px;
                height: 2px;
                background-color: white;
            }

            span:before,
            span:after {
                content: '';
            }

            span:before {
                transform: translateY(-11px);
            }

            span:after {
                transform: translateY(11px);
            }
        }
    }
}