/* ------------------------ #Header ------------------------ */

.head {
    background-color: black;
    height: 180px;
    padding: 55px 16px;

    &-block{
        max-width: 1240px;
        margin: auto;

        display: flex;
        align-items: center;

        &__burger {
            display: none;

            &_menu{
                display: none;
            }

        }
    }
    
    &-block__list{
        display: flex;
        flex-direction: row;
        li {
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 18px;
            
            padding-left: 64px;
            
            a:link,
            a:visited,
            a:hover,
            a:active {
                color: white;
            }
        }
        
    }

}

.active{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
        color: white;
        font-size: 20px;
        font-weight: 500;

        margin-bottom: 45px;

    }

    p {
        color: white;
        font-size: 14px;
        font-weight: 400;

        margin-top: 50%;
    }

    margin-top: 114px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
}

/* ------------------------ #Header ------------------------ */

/* ------------------------ #Media ------------------------ */

@import "media.scss";

/* ------------------------ #Media ------------------------ */