.info {


  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;


  display: flex;
  align-items: center;
  justify-content: space-between;

  &__image {

    margin-right: 10%;

    min-width: 45%;
    img {

      width: 100%;
    }
  }

  &__title {
    max-width: 532px;
    min-width: 338px;

    flex-shrink: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    h2 {
      color: white;
      font-size: 50px;
      font-weight: 500;
      font-family: 'Rubik', sans-serif;
      line-height: 56.75px;

      margin-bottom: 70px;
      z-index: 2;

      &::before {
        content: url('../img/icon_big_ball.svg');
        position: absolute;
        transform: translateX(-60px) translateY(-20px);
        z-index: -1;
      }

      &::after {
        content: url('../img/icon_small_ball.svg');
        position: absolute;
        transform: translateX(-467px) translateY(-10px);
        z-index: 0;
      }

    }

    p {
      color: white;

      font-size: 28px;
      font-weight: 400;
      font-family: 'Rubik', sans-serif;

      line-height: 33.6px;

      margin-bottom: 30px;
    }
  }

  &__button {
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    background-color: white;
    color: black;

    border: solid white;
    border-radius: 50px;
    border-width: 22px 35px 22px 75px;

    &::before{
      content: url('../img/icon_play_market.png');
      position: absolute;

      transform: translateX(-45px) translateY(-4px);

    }
  }
}

@media (max-width: 755px) {
  .info {

      padding: 0;

      flex-direction: column-reverse;
      &__image {
          margin: auto;
          width: 98%;

          img {

          }
      }

      &__title {
          align-items: center;
          padding: 0 16px;


          width: auto;
          max-width: none;
          min-width: auto;

          h2 {
              padding-left: 70px;

              &::before {

              }
              &::after {
                  transform: translateX(-467px) translateY(-10px);
              }
          }
      }

      &__button {
          display: none;
      }
  }
}

@media (max-width: 520px) {
  .info__title  {
      h2 {
          max-width: 396px;
      }

      h2::before{

      }
  }
  .info__title {
      h2::after{
          transform: translateX(-160px) translateY(-68px);
      }
  }
}

@media (max-width: 398px) {
  .info__title {
      h2::before {

      }
  }
  .info__title {
      h2::after{
          transform: translateX(-360px) translateY(-68px);
      }
  }
}

@media (max-width: 392px) {
  .info__title {
      h2::before {

      }
  }
  .info__title {
      h2::after{
          transform: translateX(-160px) translateY(-125px);
      }
  }
}
