.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .info {
      padding: 1rem;

      &__image {
        margin-top: 3rem;
      }

      &__button {
          display: none;
      }
  }
}
