@media (max-width: 1220px) {
    .hero {

        padding: 5px 16px;
        &__title {
            h2 {
                font-size: 86px;
            }
        }
        
        &__button {

            margin-right: 30%;

            font-size: 20px;

            border-width: 22px 35px 22px 75px;

            &::before {

                transform: translateX(-38px) translateY(-7px) scale(0.8);
            }
        }
    }
}

@media (max-width: 1075px) {
    .hero__title{
        h2{
            font-size: 86px;
        }
        
        .hero__button {
            margin-right: 0;
        }
    }
}



@media (max-width: 755px) {
    .hero {
        

        padding: 5px 0px;

        flex-direction: column;
        &__title {
            max-width: none;
            width: auto;

            margin-right: 0px;
            padding: 0px 16px;
            h2 {
                font-size: 66px;

                margin-bottom: 50px;
            }
        }

        &__button {
            margin-bottom: 40px;
        }
    &__image {
            width: 100%;
            height: auto;

            overflow: hidden;
            img {
                width: 140%;
                position: relative;
                
                transform: translate(-21%, 0px);
            }
        }
    }
}

@media (max-width: 425px) {
    .hero {
        max-width: 100%;
        margin: auto;

        &__title {
            h2 {
                font-size: 50px;
            }
        }

        &__button {
            font-size: 16px;
        }

        &__image {
            width: 100%;
            height: auto;
            overflow:hidden;
            img {
                width: 140%;

                position: relative;
                transform: translate(-21%, 0px);
            }
        }
    }
}