body {
    background-color: black;
}

.scroll {

    .mobile {
        display: none;
    }

    max-width: 1220px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;


    &__line {
        &::before{
            content: '';

            background-color: white;
            height: 100px;
            width: 2px;
            display: block;
        }
    }

    &__title {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        color: white;
        
        padding-left: 60px;
        margin-top: 56px;


        z-index: 2;
        &::before {
            content: url('../img/vectorRoundH1.svg');
            position: absolute;
            z-index: -1;

            transform: translateX(-51px) translateY(-19px);
        }
        
        &::after {
            content: url('../img/vectorRoundH2.svg');
            position: absolute;
            z-index: -1;

            transform: translateX(-600px);
        }
    }

    &__icon {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        

        &_1 {

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 180px;
            margin-right: 110px;

            img {
                margin-top: 62px;
                margin-bottom: 34px;
            }

            p {
                color: white;
                line-height: 39,72px;
                font-size: 35px;
                font-family: 'Rubik', sans-serif;

                padding-left: 42px;
                padding-bottom: 10px;

                z-index: 2;

                &::before {
                    content: url('../img/Vector-2.svg');

                    position: absolute;
                    z-index: -1;

                    transform: translateX(-42px) translateY(14px);
                    
                }

                &::after {
                    content: '';

                    position: absolute;

                    width: 100px;
                    height: 2px;

                    background-color: white;
                    transform: translateX(25px) translateY(10px);
                }

            }

        }

        &_2 {

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 250px;
            margin-right: 100px;

            img {
                margin-top: 98px;
                margin-bottom: 34px;
            }

            p {
                color: white;
                line-height: 39,72px;
                font-size: 35px;
                font-family: 'Rubik', sans-serif;

                padding-left: 42px;
                padding-bottom: 10px;

                z-index: 2;

                &::before {
                    content: url('../img/Vector-2.svg');

                    position: absolute;
                    z-index: -1;

                    transform: translateX(-42px) translateY(14px);
                    
                }

                &::after {
                    content: '';

                    position: absolute;

                    width: 30px;
                    height: 2px;

                    background-color: white;
                    transform: translateX(135px) translateY(10px);
                }

            }

        }

        &_3 {

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 250px;
            margin-right: 100px;

            img {
                margin-top: 98px;
                margin-bottom: 34px;
            }

            p {
                color: white;
                line-height: 39,72px;
                font-size: 35px;
                font-family: 'Rubik', sans-serif;

                padding-left: 42px;
                padding-bottom: 10px;

                z-index: 2;

                &::before {
                    content: url('../img/Vector-2.svg');

                    position: absolute;
                    z-index: -1;

                    transform: translateX(-42px) translateY(14px);
                    
                }

                &::after {
                    content: '';

                    position: absolute;

                    width: 30px;
                    height: 2px;

                    background-color: white;
                    transform: translateX(112px) translateY(-25px);
                }

            }

        }

        &_4 {

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 230px;


            img {
                margin-top: 98px;
                margin-bottom: 34px;
            }

            p {
                color: white;
                line-height: 39,72px;
                font-size: 35px;
                font-family: 'Rubik', sans-serif;

                padding-left: 42px;
                padding-bottom: 10px;

                z-index: 2;

                &::before {
                    content: url('../img/Vector-2.svg');

                    position: absolute;
                    z-index: -1;

                    transform: translateX(-42px) translateY(14px);
                    
                }

                

            }

        }
    }

}

@media (max-width: 1220px) {
    .scroll__icon {

        max-width: 950px;

        &_1 {
            margin-right: 360px;
            img {
            }
            p {
                &::before {  
                }
                &::after { 
                    transform: translateX(143px) translateY(10px);
                    width: 200px;   
                }
            }
        }

        &_2 {
            margin-right: 0;
            padding-left: 90px;
            img {
            }
            p {
                &::before {  
                }
                &::after {    
                    display: none;       
                }
            }
        }
        &_3 {
            margin-right: 360px;
            padding-left: 50px;
            img {
            }
            p {
                &::before {  
                }
                &::after { 
                    transform: translateX(130px) translateY(-25px);
                    width: 200px;         
                }
            }
        }
        &_4 {
            img {
            }
            p {
                &::before {  
                }
                &::after {           
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .scroll__title{
        font-size: 36px;
        line-height: 40px;
        text-align: center;

        &::after {
            transform: translateX(-542px);
        }
    }

    .scroll__icon {
        flex-direction: column;
        flex-wrap: nowrap;

        &_1 {

            margin: auto;
            margin-bottom: 100px;

            img {

            }

            p {
                &::before {  

                }

                &::after {  
                    transform: translateX(-67px) translateY(90px);
                    width: 2px;
                    height: 100px;
                }
            }
        }

        &_2 {
            padding-left: 0;
            margin: auto;
            margin-bottom: 100px;

            img {

            }

            p {
                &::before {  

                }

                &::after { 
                    display: contents; 
                    transform: translateX(-22px) translateY(90px);
                    width: 2px;
                    height: 100px;
                }
            }
        }
        &_3 {
            padding-left: 0;
            margin: auto;
            margin-bottom: 100px;

            img {

            }

            p {
                &::before {  

                }

                &::after {  
                    transform: translateX(-45px) translateY(90px);
                    width: 2px;
                    height: 100px;
                }
            }
        }
        &_4 {
            
            margin: auto;
            img {
            }
            p {
                &::before {  
                }
                &::after {           
                }
            }
        }
    }
}

@media (max-width: 541px) {
    .scroll__title {
        &::after {
            transform: translateX(-297px) translateY(-39px);
        }
    }
}

@media (max-width: 450px) {
    .scroll .laptop {
        display: none;
    }

    .scroll .mobile {
        display: block;
        width: 320px;
        text-align: left;

        &::after {
            transform: translateX(-233px) translateY(-80px);
        }
    }
}