body {
    background-color: black;
}

.contacts {

    display: flex;
    flex-direction: column;
    margin: 30px auto;


    max-width: 1240px;
    padding: 0 16px;
    &__title {
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        color: white;

        z-index: 2;

        margin-bottom: 80px;
        padding-left: 67px;
        
        &::before {
            content: url('../img/ContactRed.svg');
            position: absolute;
            z-index: -1;
            transform: translateX(-60px) translateY(-20px);
        }
        
        &::after {
            content: url('../img/ContactBlue.svg');
            position: absolute;
            z-index: -1;
            transform: translateX(-255px);
        }
    }
    &__email {
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
        font-size: 28px;
        color: white;

        
    }
    &__link {
        margin-top: 41px;

        a:first-child{
            margin-right: 40px;
        }
    }

}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

        &__link { 
            display: flex;
            flex-direction: row;

            margin-top: 25px;
            a:first-child {
                margin-right: 50px;
            }
            
            a {
                display: flex;
                flex-direction: row;
            
                font-size: 28px;
                line-height: 66px;
                font-weight: 400;
                font-family: 'Rubik', sans-serif;
                text-align: center;
                
                color: white;
        }
    }

    img {
        margin-top: 50px;
    }
    
    p {
        margin-top: 50px;
        margin-bottom: 50px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Rubik', sans-serif;
        line-height: 33px;
    }
}

@import 'media.scss';