body {
    background-color: black;
}

/* ------------------------ #section_block_four ------------------------ */

.section_block_four {

    max-width: 1240px;
    margin: 20px auto;
    padding: 0 16px;


    display: flex;
    align-items: center;
    justify-content: space-between;


    &__image {

        min-width: 40%;
        margin-right: 5%;
        img {
            width: 100%;
            
            
        }
    }

    &__title {  


        display: flex;
        align-items: flex-start;
        flex-direction: column;

        h2 {
            color: white;

            max-width: 555px;

            padding-left: 70px;

            font-size: 50px;
            font-weight: 500;
            font-family: 'Rubik', sans-serif;
            line-height: 56.75px;

            margin-bottom: 70px;
            z-index: 2;

            &::before {
                content: url('../img/ballBig.svg');
                position: absolute;
                transform: translateX(-60px) translateY(15px);
                z-index: -1;
            }

            &::after {
                content: url('../img/ballSmall.svg');
                position: absolute;
                transform: translateX(-275px) translateY(-33px);
                z-index: 0;
            }

        }

        p {
            color: white;

            font-size: 28px;
            font-weight: 400;
            font-family: 'Rubik', sans-serif;

            line-height: 33.6px;

            margin-bottom: 30px;

            max-width: 401px;
        }
    }
    
    &__button {
        font-size: 20px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
    
        background-color: white;
        color: black;
    
        border: solid white;
        border-radius: 50px;
        border-width: 22px 35px 22px 75px;
    
        &::before{
            content: url('../img/play_market.png');
            position: absolute;
    
            transform: translateX(-45px) translateY(-4px);
                    
        }
    }
}
/* ------------------------ #section_block_four ------------------------ */

/* ------------------------ #Media ------------------------ */

@import 'media.scss'