.list__link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
}

.custom-nav {
  background-color: #000000;
  padding: 1.5rem;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  margin-top: 7.5rem;
}

.show li {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 45px;
}

.show p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  margin-top: 7.5rem;
}

.collapsing li {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 45px;
}

.collapsing p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: #ffffff;
  margin-top: 7.5rem;
}

.custom-nav {
  background-color: #000000;
  padding: 1.5rem;
}

.custom-container {
  width: 100%;
  max-width: 1240px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 991px) {
  .copyright {
    display: none;
  }
}
