* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #000000;
}

.list__link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.custom-nav {
  background-color: #000000;
  padding: 1.5rem;
}

.hero {
  max-width: 1240px;
  margin: auto;
  padding: 5px 16px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 120px;
}

.hero__block {
  padding-bottom: 10%;
}

.hero__title {
  color: white;
  line-height: 1.2;
  font-size: 86px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 60px;
}

@media screen and (min-width: 755px) and (max-width: 1024px) {
  .hero__title {
    font-size: 64px;
  }
}

.hero__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  padding: 22px 35px 22px 75px;
  margin-left: 8%;
}

.hero__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

.hero__image {
  min-width: 45%;
}

.hero__image img {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__button {
    font-size: 16px;
    margin-left: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero__title {
    font-size: 70px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__button {
    margin-left: 0;
  }
}

@media (max-width: 1220px) {
  .hero__button {
    font-size: 18px;
  }
  .hero__button::before {
    -webkit-transform: translateX(-38px) translateY(-7px) scale(0.8);
            transform: translateX(-38px) translateY(-7px) scale(0.8);
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 5px 16px;
  }
}

@media (max-width: 755px) {
  .hero {
    padding: 5px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero__button {
    margin-bottom: 40px;
  }
  .hero__image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .hero__image img {
    width: 140%;
    position: relative;
    -webkit-transform: translate(-21%, 0px);
            transform: translate(-21%, 0px);
  }
}

@media (max-width: 425px) {
  .hero {
    max-width: 100%;
    margin: auto;
  }
  .hero__button {
    font-size: 16px;
  }
  .hero__image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .hero__image img {
    width: 140%;
    position: relative;
    -webkit-transform: translate(-21%, 0px);
            transform: translate(-21%, 0px);
  }
}

body {
  background-color: black;
}

.scroll {
  max-width: 1220px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll .mobile {
  display: none;
}

.scroll__line::before {
  content: '';
  background-color: white;
  height: 100px;
  width: 2px;
  display: block;
}

.scroll__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: white;
  padding-left: 60px;
  margin-top: 56px;
  z-index: 2;
}

.scroll__title::before {
  content: url("../img/icon_scroll_ball_big_h2.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-51px) translateY(-19px);
          transform: translateX(-51px) translateY(-19px);
}

.scroll__title::after {
  content: url("../img/icon_scroll_ball_small_h2.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-600px);
          transform: translateX(-600px);
}

.scroll__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll__icon_hand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 180px;
  margin-right: 110px;
}

.scroll__icon_hand img {
  margin-top: 62px;
  margin-bottom: 34px;
}

.scroll__icon_hand p {
  color: white;
  line-height: 39,72px;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}

.scroll__icon_hand p::before {
  content: url("../img/icon_scroll_ball.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-42px) translateY(14px);
          transform: translateX(-42px) translateY(14px);
}

.scroll__icon_hand p::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: white;
  -webkit-transform: translateX(25px) translateY(10px);
          transform: translateX(25px) translateY(10px);
}

.scroll__icon_eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin-right: 100px;
}

.scroll__icon_eye img {
  margin-top: 98px;
  margin-bottom: 34px;
}

.scroll__icon_eye p {
  color: white;
  line-height: 39,72px;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}

.scroll__icon_eye p::before {
  content: url("../img/icon_scroll_ball.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-42px) translateY(14px);
          transform: translateX(-42px) translateY(14px);
}

.scroll__icon_eye p::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  -webkit-transform: translateX(135px) translateY(10px);
          transform: translateX(135px) translateY(10px);
}

.scroll__icon_money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  margin-right: 100px;
}

.scroll__icon_money img {
  margin-top: 98px;
  margin-bottom: 34px;
}

.scroll__icon_money p {
  color: white;
  line-height: 39,72px;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}

.scroll__icon_money p::before {
  content: url("../img/icon_scroll_ball.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-42px) translateY(14px);
          transform: translateX(-42px) translateY(14px);
}

.scroll__icon_money p::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  -webkit-transform: translateX(112px) translateY(-25px);
          transform: translateX(112px) translateY(-25px);
}

.scroll__icon_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
}

.scroll__icon_list img {
  margin-top: 98px;
  margin-bottom: 34px;
}

.scroll__icon_list p {
  color: white;
  line-height: 39,72px;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}

.scroll__icon_list p::before {
  content: url("../img/icon_scroll_ball.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-42px) translateY(14px);
          transform: translateX(-42px) translateY(14px);
}

@media (max-width: 1220px) {
  .scroll__icon {
    max-width: 950px;
  }
  .scroll__icon_hand {
    margin-right: 360px;
  }
  .scroll__icon_hand p::after {
    -webkit-transform: translateX(143px) translateY(10px);
            transform: translateX(143px) translateY(10px);
    width: 200px;
  }
  .scroll__icon_eye {
    margin-right: 0;
    padding-left: 90px;
  }
  .scroll__icon_eye p::after {
    display: none;
  }
  .scroll__icon_money {
    margin-right: 360px;
    padding-left: 50px;
  }
  .scroll__icon_money p::after {
    -webkit-transform: translateX(130px) translateY(-25px);
            transform: translateX(130px) translateY(-25px);
    width: 200px;
  }
}

@media (max-width: 880px) {
  .scroll__title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .scroll__title::after {
    -webkit-transform: translateX(-542px);
            transform: translateX(-542px);
  }
  .scroll__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .scroll__icon_hand {
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_hand p::after {
    -webkit-transform: translateX(-67px) translateY(90px);
            transform: translateX(-67px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_eye {
    padding-left: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_eye p::after {
    display: contents;
    -webkit-transform: translateX(-22px) translateY(90px);
            transform: translateX(-22px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_money {
    padding-left: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_money p::after {
    -webkit-transform: translateX(-45px) translateY(90px);
            transform: translateX(-45px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_list {
    margin: auto;
  }
}

@media (max-width: 541px) {
  .scroll__title::after {
    -webkit-transform: translateX(-297px) translateY(-39px);
            transform: translateX(-297px) translateY(-39px);
  }
}

@media (max-width: 450px) {
  .scroll .laptop {
    display: none;
  }
  .scroll .mobile {
    display: block;
    width: 320px;
    text-align: left;
  }
  .scroll .mobile::after {
    -webkit-transform: translateX(-233px) translateY(-80px);
            transform: translateX(-233px) translateY(-80px);
  }
}

.info {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__image {
  margin-right: 10%;
  min-width: 45%;
}

.info__image img {
  width: 100%;
}

.info__title {
  max-width: 532px;
  min-width: 338px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title h2 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}

.info__title h2::before {
  content: url("../img/icon_big_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-60px) translateY(-20px);
          transform: translateX(-60px) translateY(-20px);
  z-index: -1;
}

.info__title h2::after {
  content: url("../img/icon_small_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-467px) translateY(-10px);
          transform: translateX(-467px) translateY(-10px);
  z-index: 0;
}

.info__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
}

.info__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}

.info__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

@media (max-width: 755px) {
  .info {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info__image {
    margin: auto;
    width: 98%;
  }
  .info__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .info__title h2 {
    padding-left: 70px;
  }
  .info__title h2::after {
    -webkit-transform: translateX(-467px) translateY(-10px);
            transform: translateX(-467px) translateY(-10px);
  }
  .info__button {
    display: none;
  }
}

@media (max-width: 520px) {
  .info__title h2 {
    max-width: 396px;
  }
  .info__title h2::after {
    -webkit-transform: translateX(-160px) translateY(-68px);
            transform: translateX(-160px) translateY(-68px);
  }
}

@media (max-width: 398px) {
  .info__title h2::after {
    -webkit-transform: translateX(-360px) translateY(-68px);
            transform: translateX(-360px) translateY(-68px);
  }
}

@media (max-width: 392px) {
  .info__title h2::after {
    -webkit-transform: translateX(-160px) translateY(-125px);
            transform: translateX(-160px) translateY(-125px);
  }
}

.object {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.object .object__title .mobile {
  display: none;
}

.object__image {
  min-width: 40%;
  margin-left: 10%;
}

.object__image img {
  width: 100%;
}

.object__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.object__title h2 {
  color: white;
  max-width: 285px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}

.object__title h2::before {
  content: url("../img/icon_big_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-60px) translateY(15px);
          transform: translateX(-60px) translateY(15px);
  z-index: -1;
}

.object__title h2::after {
  content: url("../img/icon_small_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-255px) translateY(-34px);
          transform: translateX(-255px) translateY(-34px);
  z-index: 0;
}

.object__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33.6px;
  max-width: 511px;
  margin-bottom: 30px;
}

.object__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}

.object__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #object ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 940px) {
  .object__title h2 {
    width: 433px;
  }
}

@media (max-width: 755px) {
  .object {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .object__image {
    margin: auto;
    width: 98%;
  }
  .object__image img {
    padding-left: 0;
  }
  .object__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .object__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .object__title h2::before {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .object__title h2::after {
    -webkit-transform: translateX(-202px) translateY(-20px);
            transform: translateX(-202px) translateY(-20px);
  }
  .object__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .object__button::before {
    -webkit-transform: translateX(-35px) translateY(-5px);
            transform: translateX(-35px) translateY(-5px);
  }
}

@media (max-width: 520px) {
  .object__title h2 {
    max-width: 300px;
    font-size: 36px;
  }
}

@media (max-width: 450px) {
  .object {
    overflow: hidden;
  }
  .object h2 {
    display: none;
  }
  .object .object__title .mobile {
    display: block;
  }
  .object .object__title .mobile::before {
    -webkit-transform: translateX(-60px) translateY(20px);
            transform: translateX(-60px) translateY(20px);
  }
  .object .object__title .mobile::after {
    -webkit-transform: translateX(-202px) translateY(-40px);
            transform: translateX(-202px) translateY(-40px);
  }
}

.money {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.money__image {
  min-width: 40%;
  margin-right: 5%;
}

.money__image img {
  width: 100%;
}

.money__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.money__title h2 {
  color: white;
  max-width: 548px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}

.money__title h2::before {
  content: url("../img/icon_big_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-60px) translateY(15px);
          transform: translateX(-60px) translateY(15px);
  z-index: -1;
}

.money__title h2::after {
  content: url("../img/icon_small_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-465px) translateY(-33px);
          transform: translateX(-465px) translateY(-33px);
  z-index: 0;
}

.money__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
  max-width: 509px;
}

.money__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}

.money__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #money ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 1030px) {
  .money__image {
    margin-right: 1%;
  }
}

@media (max-width: 851px) {
  .money__title h2::before {
    -webkit-transform: translateX(-60px) translateY(45px);
            transform: translateX(-60px) translateY(45px);
  }
  .money__title h2::after {
    -webkit-transform: translateX(-260px) translateY(-59px);
            transform: translateX(-260px) translateY(-59px);
  }
}

@media (max-width: 755px) {
  .money {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .money__image {
    margin: auto;
    width: 98%;
  }
  .money__image img {
    padding-left: 0;
  }
  .money__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .money__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .money__title h2::before {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
  }
  .money__title h2::after {
    -webkit-transform: translateX(-215px) translateY(-20px);
            transform: translateX(-215px) translateY(-20px);
  }
  .money__title p {
    max-width: none;
  }
  .money__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .money__button::before {
    -webkit-transform: translateX(-35px) translateY(-5px);
            transform: translateX(-35px) translateY(-5px);
  }
}

@media (max-width: 520px) {
  .money__title h2 {
    max-width: 300px;
    font-size: 30px;
  }
  .money__title h2::before {
    -webkit-transform: translateX(-60px) translateY(20px);
            transform: translateX(-60px) translateY(20px);
  }
  .money__title h2::after {
    -webkit-transform: translateX(-183px) translateY(-40px);
            transform: translateX(-183px) translateY(-40px);
  }
}

@media (max-width: 450px) {
  .money {
    overflow: hidden;
  }
}

.text {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text .text__title .mobile {
  display: none;
}

.text__image {
  min-width: 40%;
  margin-left: 10%;
}

.text__image img {
  width: 100%;
}

.text__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text__title h2 {
  color: white;
  max-width: 285px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}

.text__title h2::before {
  content: url("../img/icon_big_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-60px) translateY(15px);
          transform: translateX(-60px) translateY(15px);
  z-index: -1;
}

.text__title h2::after {
  content: url("../img/icon_small_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-207px) translateY(-34px);
          transform: translateX(-207px) translateY(-34px);
  z-index: 0;
}

.text__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33.6px;
  max-width: 511px;
  margin-bottom: 30px;
}

.text__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}

.text__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #text ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 940px) {
  .text__title h2 {
    width: 433px;
  }
}

@media (max-width: 755px) {
  .text {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .text__image {
    margin: auto;
    width: 98%;
  }
  .text__image img {
    padding-left: 0;
  }
  .text__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .text__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .text__title h2::before {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  .text__title h2::after {
    -webkit-transform: translateX(-170px) translateY(-20px);
            transform: translateX(-170px) translateY(-20px);
  }
  .text__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .text__button::before {
    -webkit-transform: translateX(-35px) translateY(-5px);
            transform: translateX(-35px) translateY(-5px);
  }
}

@media (max-width: 520px) {
  .text__title h2 {
    max-width: 300px;
    font-size: 36px;
  }
}

@media (max-width: 450px) {
  .text {
    overflow: hidden;
  }
}

.sos {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sos__image {
  min-width: 40%;
  margin-right: 5%;
}

.sos__image img {
  width: 100%;
}

.sos__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sos__title h2 {
  color: white;
  max-width: 555px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}

.sos__title h2::before {
  content: url("../img/icon_big_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-60px) translateY(15px);
          transform: translateX(-60px) translateY(15px);
  z-index: -1;
}

.sos__title h2::after {
  content: url("../img/icon_small_ball.svg");
  position: absolute;
  -webkit-transform: translateX(-275px) translateY(-33px);
          transform: translateX(-275px) translateY(-33px);
  z-index: 0;
}

.sos__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
  max-width: 401px;
}

.sos__button {
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}

.sos__button::before {
  content: url("../img/icon_play_market.png");
  position: absolute;
  -webkit-transform: translateX(-45px) translateY(-4px);
          transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #Media ------------------------ */
@media (max-width: 1030px) {
  .sos__image {
    margin-right: 1%;
  }
  .sos__title h2 {
    width: 433px;
  }
  .sos__title h2::before {
    -webkit-transform: translateX(-60px) translateY(45px);
            transform: translateX(-60px) translateY(45px);
  }
  .sos__title h2::after {
    -webkit-transform: translateX(-275px) translateY(-60px);
            transform: translateX(-275px) translateY(-60px);
  }
}

@media (max-width: 755px) {
  .sos {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sos__image {
    margin: auto;
    width: 98%;
  }
  .sos__image img {
    padding-left: 0;
  }
  .sos__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .sos__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .sos__title h2::before {
    -webkit-transform: translateX(-68px);
            transform: translateX(-68px);
  }
  .sos__title h2::after {
    -webkit-transform: translateX(-225px) translateY(-20px);
            transform: translateX(-225px) translateY(-20px);
  }
  .sos__title p {
    max-width: none;
  }
  .sos__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .sos__button::before {
    -webkit-transform: translateX(-35px) translateY(-5px);
            transform: translateX(-35px) translateY(-5px);
  }
}

@media (max-width: 520px) {
  .sos__title h2 {
    max-width: 300px;
    font-size: 30px;
  }
  .sos__title h2::before {
    -webkit-transform: translateX(-60px) translateY(20px);
            transform: translateX(-60px) translateY(20px);
  }
  .sos__title h2::after {
    -webkit-transform: translateX(-193px) translateY(-40px);
            transform: translateX(-193px) translateY(-40px);
  }
}

@media (max-width: 450px) {
  .sos {
    overflow: hidden;
  }
}

body {
  background-color: black;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px auto;
  max-width: 1240px;
  padding: 0 16px;
}

.contacts__title {
  font-weight: 500;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
  color: white;
  z-index: 2;
  margin-bottom: 80px;
  padding-left: 67px;
}

.contacts__title::before {
  content: url("../img/icon_contact_red.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-60px) translateY(-20px);
          transform: translateX(-60px) translateY(-20px);
}

.contacts__title::after {
  content: url("../img/icon_contact_blue.svg");
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-255px);
          transform: translateX(-255px);
}

.contacts__email {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  color: white;
}

.contacts__link {
  margin-top: 41px;
}

.contacts__link a:first-child {
  margin-right: 40px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 25px;
}

.footer__link a:first-child {
  margin-right: 50px;
}

.footer__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 28px;
  line-height: 66px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: white;
}

.footer img {
  margin-top: 50px;
}

.footer p {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  line-height: 33px;
}

@media (max-width: 660px) {
  .contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link a:first-child {
    margin-right: 0;
  }
}
