* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: black;
}

.header {
  background-color: #000000;
  padding: 5% 0 5% 7%;
}
.header__logo {
  width: 106px;
  height: auto;
}
.header__logo img {
  max-width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__list {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-left: 30px;
  }
}
.nav__list li {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 0 30px;
}
.nav__list li a:link,
.nav__list li a:visited,
.nav__list li a:hover,
.nav__list li a:active {
  color: #ffffff;
}
.nav__burger {
  display: none;
}
.nav__burger-menu {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 100px 30px 30px 30px;
  transition: left 0.3s ease 0s;
}
.active a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 45px;
}
.active p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin-top: 50%;
}

.hero {
  max-width: 1240px;
  margin: auto;
  padding: 5px 16px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__block {
  padding-bottom: 10%;
}
.hero__title {
  color: white;
  line-height: 1.2;
  font-size: 86px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  margin-bottom: 60px;
}
@media screen and (min-width: 755px) and (max-width: 1024px) {
  .hero__title {
    font-size: 64px;
  }
}
.hero__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  padding: 22px 35px 22px 75px;
  margin-left: 8%;
}
.hero__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}
.hero__image {
  min-width: 45%;
}
.hero__image img {
  width: 100%;
}

body {
  background-color: black;
}

.scroll {
  max-width: 1220px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll .mobile {
  display: none;
}
.scroll__line::before {
  content: "";
  background-color: white;
  height: 100px;
  width: 2px;
  display: block;
}
.scroll__title {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  color: white;
  padding-left: 60px;
  margin-top: 56px;
  z-index: 2;
}
.scroll__title::before {
  content: url("../img/vectorRoundH1.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-51px) translateY(-19px);
}
.scroll__title::after {
  content: url("../img/vectorRoundH2.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-600px);
}
.scroll__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.scroll__icon_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  margin-right: 110px;
}
.scroll__icon_1 img {
  margin-top: 62px;
  margin-bottom: 34px;
}
.scroll__icon_1 p {
  color: white;
  line-height: 39, 72px;
  font-size: 35px;
  font-family: "Rubik", sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}
.scroll__icon_1 p::before {
  content: url("../img/Vector-2.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-42px) translateY(14px);
}
.scroll__icon_1 p::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: white;
  transform: translateX(25px) translateY(10px);
}
.scroll__icon_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-right: 100px;
}
.scroll__icon_2 img {
  margin-top: 98px;
  margin-bottom: 34px;
}
.scroll__icon_2 p {
  color: white;
  line-height: 39, 72px;
  font-size: 35px;
  font-family: "Rubik", sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}
.scroll__icon_2 p::before {
  content: url("../img/Vector-2.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-42px) translateY(14px);
}
.scroll__icon_2 p::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  transform: translateX(135px) translateY(10px);
}
.scroll__icon_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin-right: 100px;
}
.scroll__icon_3 img {
  margin-top: 98px;
  margin-bottom: 34px;
}
.scroll__icon_3 p {
  color: white;
  line-height: 39, 72px;
  font-size: 35px;
  font-family: "Rubik", sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}
.scroll__icon_3 p::before {
  content: url("../img/Vector-2.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-42px) translateY(14px);
}
.scroll__icon_3 p::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  transform: translateX(112px) translateY(-25px);
}
.scroll__icon_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
}
.scroll__icon_4 img {
  margin-top: 98px;
  margin-bottom: 34px;
}
.scroll__icon_4 p {
  color: white;
  line-height: 39, 72px;
  font-size: 35px;
  font-family: "Rubik", sans-serif;
  padding-left: 42px;
  padding-bottom: 10px;
  z-index: 2;
}
.scroll__icon_4 p::before {
  content: url("../img/Vector-2.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-42px) translateY(14px);
}

@media (max-width: 1220px) {
  .scroll__icon {
    max-width: 950px;
  }
  .scroll__icon_1 {
    margin-right: 360px;
  }
  .scroll__icon_1 p::after {
    transform: translateX(143px) translateY(10px);
    width: 200px;
  }
  .scroll__icon_2 {
    margin-right: 0;
    padding-left: 90px;
  }
  .scroll__icon_2 p::after {
    display: none;
  }
  .scroll__icon_3 {
    margin-right: 360px;
    padding-left: 50px;
  }
  .scroll__icon_3 p::after {
    transform: translateX(130px) translateY(-25px);
    width: 200px;
  }
}
@media (max-width: 880px) {
  .scroll__title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .scroll__title::after {
    transform: translateX(-542px);
  }

  .scroll__icon {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .scroll__icon_1 {
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_1 p::after {
    transform: translateX(-67px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_2 {
    padding-left: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_2 p::after {
    display: contents;
    transform: translateX(-22px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_3 {
    padding-left: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .scroll__icon_3 p::after {
    transform: translateX(-45px) translateY(90px);
    width: 2px;
    height: 100px;
  }
  .scroll__icon_4 {
    margin: auto;
  }
}
@media (max-width: 541px) {
  .scroll__title::after {
    transform: translateX(-297px) translateY(-39px);
  }
}
@media (max-width: 450px) {
  .scroll .laptop {
    display: none;
  }

  .scroll .mobile {
    display: block;
    width: 320px;
    text-align: left;
  }
  .scroll .mobile::after {
    transform: translateX(-233px) translateY(-80px);
  }
}
.info {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__image {
  margin-right: 10%;
  min-width: 45%;
}
.info__image img {
  width: 100%;
}
.info__title {
  max-width: 532px;
  min-width: 338px;
  flex-shrink: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.info__title h2 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}
.info__title h2::before {
  content: url("../img/ballBig.svg");
  position: absolute;
  transform: translateX(-60px) translateY(-20px);
  z-index: -1;
}
.info__title h2::after {
  content: url("../img/ballSmall.svg");
  position: absolute;
  transform: translateX(-467px) translateY(-10px);
  z-index: 0;
}
.info__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
}
.info__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}
.info__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}

.section_block_one {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.section_block_one .section_block_one__title .mobile {
  display: none;
}
.section_block_one__image {
  min-width: 40%;
  margin-left: 10%;
}
.section_block_one__image img {
  width: 100%;
}
.section_block_one__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section_block_one__title h2 {
  color: white;
  max-width: 285px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}
.section_block_one__title h2::before {
  content: url("../img/ballBig.svg");
  position: absolute;
  transform: translateX(-60px) translateY(15px);
  z-index: -1;
}
.section_block_one__title h2::after {
  content: url("../img/ballSmall.svg");
  position: absolute;
  transform: translateX(-255px) translateY(-34px);
  z-index: 0;
}
.section_block_one__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33.6px;
  max-width: 511px;
  margin-bottom: 30px;
}
.section_block_one__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}
.section_block_one__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #section_block_one ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 940px) {
  .section_block_one__title h2 {
    width: 433px;
  }
}
@media (max-width: 755px) {
  .section_block_one {
    padding: 0;
    flex-direction: column-reverse;
  }
  .section_block_one__image {
    margin: auto;
    width: 98%;
  }
  .section_block_one__image img {
    padding-left: 0;
  }
  .section_block_one__title {
    align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .section_block_one__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .section_block_one__title h2::before {
    transform: translateX(-60px);
  }
  .section_block_one__title h2::after {
    transform: translateX(-202px) translateY(-20px);
  }
  .section_block_one__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .section_block_one__button::before {
    transform: translateX(-35px) translateY(-5px);
  }
}
@media (max-width: 520px) {
  .section_block_one__title h2 {
    max-width: 300px;
    font-size: 36px;
  }
}
@media (max-width: 450px) {
  .section_block_one {
    overflow: hidden;
  }
  .section_block_one h2 {
    display: none;
  }

  .section_block_one .section_block_one__title .mobile {
    display: block;
  }
  .section_block_one .section_block_one__title .mobile::before {
    transform: translateX(-60px) translateY(20px);
  }
  .section_block_one .section_block_one__title .mobile::after {
    transform: translateX(-202px) translateY(-40px);
  }
}
.section_block_two {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_block_two__image {
  min-width: 40%;
  margin-right: 5%;
}
.section_block_two__image img {
  width: 100%;
}
.section_block_two__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section_block_two__title h2 {
  color: white;
  max-width: 548px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}
.section_block_two__title h2::before {
  content: url("../img/ballBig.svg");
  position: absolute;
  transform: translateX(-60px) translateY(15px);
  z-index: -1;
}
.section_block_two__title h2::after {
  content: url("../img/ballSmall.svg");
  position: absolute;
  transform: translateX(-465px) translateY(-33px);
  z-index: 0;
}
.section_block_two__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
  max-width: 509px;
}
.section_block_two__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}
.section_block_two__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #section_block_two ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 1030px) {
  .section_block_two__image {
    margin-right: 1%;
  }
}
@media (max-width: 851px) {
  .section_block_two__title h2::before {
    transform: translateX(-60px) translateY(45px);
  }
  .section_block_two__title h2::after {
    transform: translateX(-260px) translateY(-59px);
  }
}
@media (max-width: 755px) {
  .section_block_two {
    padding: 0;
    flex-direction: column-reverse;
  }
  .section_block_two__image {
    margin: auto;
    width: 98%;
  }
  .section_block_two__image img {
    padding-left: 0;
  }
  .section_block_two__title {
    align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .section_block_two__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .section_block_two__title h2::before {
    transform: translateX(-68px);
  }
  .section_block_two__title h2::after {
    transform: translateX(-215px) translateY(-20px);
  }
  .section_block_two__title p {
    max-width: none;
  }
  .section_block_two__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .section_block_two__button::before {
    transform: translateX(-35px) translateY(-5px);
  }
}
@media (max-width: 520px) {
  .section_block_two__title h2 {
    max-width: 300px;
    font-size: 30px;
  }
  .section_block_two__title h2::before {
    transform: translateX(-60px) translateY(20px);
  }

  .section_block_two__title h2::after {
    transform: translateX(-183px) translateY(-40px);
  }
}
@media (max-width: 450px) {
  .section_block_two {
    overflow: hidden;
  }
}
.section_block_three {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.section_block_three .section_block_three__title .mobile {
  display: none;
}
.section_block_three__image {
  min-width: 40%;
  margin-left: 10%;
}
.section_block_three__image img {
  width: 100%;
}
.section_block_three__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section_block_three__title h2 {
  color: white;
  max-width: 285px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}
.section_block_three__title h2::before {
  content: url("../img/ballBig.svg");
  position: absolute;
  transform: translateX(-60px) translateY(15px);
  z-index: -1;
}
.section_block_three__title h2::after {
  content: url("../img/ballSmall.svg");
  position: absolute;
  transform: translateX(-207px) translateY(-34px);
  z-index: 0;
}
.section_block_three__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33.6px;
  max-width: 511px;
  margin-bottom: 30px;
}
.section_block_three__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}
.section_block_three__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #section_block_three ------------------------ */
/* ------------------------ #Media ------------------------ */
@media (max-width: 940px) {
  .section_block_three__title h2 {
    width: 433px;
  }
}
@media (max-width: 755px) {
  .section_block_three {
    padding: 0;
    flex-direction: column-reverse;
  }
  .section_block_three__image {
    margin: auto;
    width: 98%;
  }
  .section_block_three__image img {
    padding-left: 0;
  }
  .section_block_three__title {
    align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .section_block_three__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .section_block_three__title h2::before {
    transform: translateX(-60px);
  }
  .section_block_three__title h2::after {
    transform: translateX(-170px) translateY(-20px);
  }
  .section_block_three__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .section_block_three__button::before {
    transform: translateX(-35px) translateY(-5px);
  }
}
@media (max-width: 520px) {
  .section_block_three__title h2 {
    max-width: 300px;
    font-size: 36px;
  }
}
@media (max-width: 450px) {
  .section_block_three {
    overflow: hidden;
  }
}
.section_block_four {
  max-width: 1240px;
  margin: 20px auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section_block_four__image {
  min-width: 40%;
  margin-right: 5%;
}
.section_block_four__image img {
  width: 100%;
}
.section_block_four__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section_block_four__title h2 {
  color: white;
  max-width: 555px;
  padding-left: 70px;
  font-size: 50px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  line-height: 56.75px;
  margin-bottom: 70px;
  z-index: 2;
}
.section_block_four__title h2::before {
  content: url("../img/ballBig.svg");
  position: absolute;
  transform: translateX(-60px) translateY(15px);
  z-index: -1;
}
.section_block_four__title h2::after {
  content: url("../img/ballSmall.svg");
  position: absolute;
  transform: translateX(-275px) translateY(-33px);
  z-index: 0;
}
.section_block_four__title p {
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33.6px;
  margin-bottom: 30px;
  max-width: 401px;
}
.section_block_four__button {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  background-color: white;
  color: black;
  border: solid white;
  border-radius: 50px;
  border-width: 22px 35px 22px 75px;
}
.section_block_four__button::before {
  content: url("../img/play_market.png");
  position: absolute;
  transform: translateX(-45px) translateY(-4px);
}

/* ------------------------ #Media ------------------------ */
@media (max-width: 1030px) {
  .section_block_four__image {
    margin-right: 1%;
  }
  .section_block_four__title h2 {
    width: 433px;
  }
  .section_block_four__title h2::before {
    transform: translateX(-60px) translateY(45px);
  }
  .section_block_four__title h2::after {
    transform: translateX(-275px) translateY(-60px);
  }
}
@media (max-width: 755px) {
  .section_block_four {
    padding: 0;
    flex-direction: column-reverse;
  }
  .section_block_four__image {
    margin: auto;
    width: 98%;
  }
  .section_block_four__image img {
    padding-left: 0;
  }
  .section_block_four__title {
    align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .section_block_four__title h2 {
    padding-left: 70px;
    font-size: 36px;
    line-height: 41px;
    margin-bottom: 148px;
  }
  .section_block_four__title h2::before {
    transform: translateX(-68px);
  }
  .section_block_four__title h2::after {
    transform: translateX(-225px) translateY(-20px);
  }
  .section_block_four__title p {
    max-width: none;
  }
  .section_block_four__button {
    border-width: 22px 20px 22px 55px;
    margin-top: 36px;
    margin-bottom: 65px;
  }
  .section_block_four__button::before {
    transform: translateX(-35px) translateY(-5px);
  }
}
@media (max-width: 520px) {
  .section_block_four__title h2 {
    max-width: 300px;
    font-size: 30px;
  }
  .section_block_four__title h2::before {
    transform: translateX(-60px) translateY(20px);
  }

  .section_block_four__title h2::after {
    transform: translateX(-193px) translateY(-40px);
  }
}
@media (max-width: 450px) {
  .section_block_four {
    overflow: hidden;
  }
}
body {
  background-color: black;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  max-width: 1240px;
  padding: 0 16px;
}
.contacts__title {
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  color: white;
  z-index: 2;
  margin-bottom: 80px;
  padding-left: 67px;
}
.contacts__title::before {
  content: url("../img/ContactRed.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-60px) translateY(-20px);
}
.contacts__title::after {
  content: url("../img/ContactBlue.svg");
  position: absolute;
  z-index: -1;
  transform: translateX(-255px);
}
.contacts__email {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  font-size: 28px;
  color: white;
}
.contacts__link {
  margin-top: 41px;
}
.contacts__link a:first-child {
  margin-right: 40px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__link {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.footer__link a:first-child {
  margin-right: 50px;
}
.footer__link a {
  display: flex;
  flex-direction: row;
  font-size: 28px;
  line-height: 66px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-align: center;
  color: white;
}
.footer img {
  margin-top: 50px;
}
.footer p {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 33px;
}

@media (max-width: 660px) {
  .contacts {
    align-items: center;
  }

  .footer__link {
    flex-direction: column;
    align-items: center;
  }
  .footer__link a:first-child {
    margin-right: 0;
  }
}
@media (max-width: 786px) {
  .header {
    padding: 30px 16px;
  }
  .header__logo {
    width: 70px;
    height: auto;
  }

  .nav__list li {
    font-size: 14px;
  }
}
@media (max-width: 650px) {
  .nav {
    justify-content: space-between;
  }
  .nav__list {
    display: none;
  }
  .nav__burger {
    display: block;
    width: 37px;
    height: 52px;
    position: relative;
    cursor: pointer;
  }
  .nav__burger span,
.nav__burger span:before,
.nav__burger span:after {
    position: absolute;
    top: 48%;
    width: 37px;
    height: 2px;
    background-color: white;
  }
  .nav__burger span:before,
.nav__burger span:after {
    content: "";
  }
  .nav__burger span:before {
    transform: translateY(-11px);
  }
  .nav__burger span:after {
    transform: translateY(11px);
  }
}
@media (max-width: 1220px) {
  .hero__button {
    font-size: 20px;
  }
  .hero__button::before {
    transform: translateX(-38px) translateY(-7px) scale(0.8);
  }
}
@media (max-width: 1075px) {
  .hero {
    padding: 5px 16px;
  }
  .hero__title {
    font-size: 86px;
  }
}
@media (max-width: 755px) {
  .hero {
    padding: 5px 0;
    flex-direction: column;
  }
  .hero__title {
    max-width: none;
    width: auto;
    margin-right: 0;
    padding: 0 16px;
  }
  .hero__title h2 {
    font-size: 66px;
    margin-bottom: 50px;
  }
  .hero__button {
    margin-bottom: 40px;
  }
  .hero__image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .hero__image img {
    width: 140%;
    position: relative;
    transform: translate(-21%, 0px);
  }
}
@media (max-width: 425px) {
  .hero {
    max-width: 100%;
    margin: auto;
  }
  .hero__title h2 {
    font-size: 50px;
  }
  .hero__button {
    font-size: 16px;
  }
  .hero__image {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .hero__image img {
    width: 140%;
    position: relative;
    transform: translate(-21%, 0px);
  }
}
@media (max-width: 755px) {
  .info {
    padding: 0;
    flex-direction: column-reverse;
  }
  .info__image {
    margin: auto;
    width: 98%;
  }
  .info__title {
    align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .info__title h2 {
    padding-left: 70px;
  }
  .info__title h2::after {
    transform: translateX(-467px) translateY(-10px);
  }
  .info__button {
    display: none;
  }
}
@media (max-width: 520px) {
  .info__title h2 {
    max-width: 396px;
  }
  .info__title h2::after {
    transform: translateX(-160px) translateY(-68px);
  }
}
@media (max-width: 398px) {
  .info__title h2::after {
    transform: translateX(-360px) translateY(-68px);
  }
}
@media (max-width: 392px) {
  .info__title h2::after {
    transform: translateX(-160px) translateY(-125px);
  }
}

/*# sourceMappingURL=main.css.map */
