<<<<<<< HEAD
@media (max-width: 786px) {
  .head {
    height: 114px;
    padding: 31px 16px;
  }
  .head-block__logo img {
    height: 52px;
    width: 80px;
  }
  .head-block__list li {
    font-size: 14px;
    padding-left: 64px;
  }
}

@media (max-width: 650px) {
  .head-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head-block__list {
    display: none;
  }
  .head-block__burger {
    display: block;
    width: 37px;
    height: 52px;
    position: relative;
    cursor: pointer;
  }
  .head-block__burger span,
  .head-block__burger span:before,
  .head-block__burger span:after {
    position: absolute;
    top: 48%;
    width: 37px;
    height: 2px;
    background-color: white;
  }
  .head-block__burger span:before,
  .head-block__burger span:after {
    content: '';
  }
  .head-block__burger span:before {
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
  }
  .head-block__burger span:after {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);}

  @media (max-width: 1220px) {
    .hero {
      padding: 5px 16px;
    }

    .hero__title h2 {
      font-size: 86px;
    }

    .hero__button {
      margin-right: 30%;
      font-size: 20px;
      border-width: 22px 35px 22px 75px;
    }

    .hero__button::before {
      -webkit-transform: translateX(-38px) translateY(-7px) scale(0.8);
      transform: translateX(-38px) translateY(-7px) scale(0.8);
    }
  }

  @media (max-width: 1075px) {
    .hero__title h2 {
      font-size: 86px;
    }

    .hero__title .hero__button {
      margin-right: 0;
    }
  }

  @media (max-width: 755px) {
    .hero {
      padding: 5px 0px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .hero__title {
      max-width: none;
      width: auto;
      margin-right: 0px;
      padding: 0px 16px;
    }

    .hero__title h2 {
      font-size: 66px;
      margin-bottom: 50px;
    }

    .hero__button {
      margin-bottom: 40px;
    }

    .hero__image {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .hero__image img {
      width: 140%;
      position: relative;
      -webkit-transform: translate(-21%, 0px);
      transform: translate(-21%, 0px);
    }
  }

  @media (max-width: 425px) {
    .hero {
      max-width: 100%;
      margin: auto;
    }

    .hero__title h2 {
      font-size: 50px;
    }

    .hero__button {
      font-size: 16px;
    }

    .hero__image {
      width: 100%;
      height: auto;
      overflow: hidden;
    }

    .hero__image img {
      width: 140%;
      position: relative;
      -webkit-transform: translate(-21%, 0px);
      transform: translate(-21%, 0px);
    }
=======
@media (max-width: 940px) {
  .info__title {
    width: 397px;
  }
  .info__title h2::after {
    -webkit-transform: translateX(-160px) translateY(-68px);
            transform: translateX(-160px) translateY(-68px);
  }
}

@media (max-width: 755px) {
  .info {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .info__image {
    margin: auto;
    width: 98%;
  }
  .info__title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 16px;
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .info__title h2 {
    padding-left: 70px;
  }
  .info__title h2::after {
    -webkit-transform: translateX(-467px) translateY(-10px);
            transform: translateX(-467px) translateY(-10px);
  }
  .info__button {
    display: none;
  }
}

@media (max-width: 520px) {
  .info__title h2 {
    max-width: 396px;
  }
  .info__title h2::after {
    -webkit-transform: translateX(-160px) translateY(-68px);
            transform: translateX(-160px) translateY(-68px);
  }
}

@media (max-width: 398px) {
  .info__title h2::after {
    -webkit-transform: translateX(-360px) translateY(-68px);
            transform: translateX(-360px) translateY(-68px);
  }
}

@media (max-width: 392px) {
  .info__title h2::after {
    -webkit-transform: translateX(-160px) translateY(-125px);
            transform: translateX(-160px) translateY(-125px);
>>>>>>> info
  }
}
