@media (max-width: 1024px) {
  .head-block__list li {
    font-size: 16px;
    padding: 0 49px;
  }
}

@media (max-width: 786px) {
  .head {
    height: 114px;
    padding: 31px 16px 31px 16px;
  }
  .head-img {
    height: 52px;
    width: 80px;
  }
  .head-block__list li {
    font-size: 14px;
    padding: 0 35px;
  }
}

@media (max-width: 650px) {
  .head-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head-block__list {
    display: none;
  }
  .head__burger-button {
    display: block;
    width: 37px;
    height: 52px;
    position: relative;
  }
  .head__burger-button span,
  .head__burger-button span:before,
  .head__burger-button span:after {
    position: absolute;
    top: 48%;
    width: 37px;
    height: 2px;
    background-color: white;
  }
  .head__burger-button span:before,
  .head__burger-button span:after {
    content: '';
  }
  .head__burger-button span:before {
    -webkit-transform: translateY(-11px);
            transform: translateY(-11px);
  }
  .head__burger-button span:after {
    -webkit-transform: translateY(11px);
            transform: translateY(11px);
  }
}
